<div class="row">
    <div class="col-sm-12">
        <div class="page-title">
            <div class="row">
                <h4 class="pull-left">Flooring Order Request</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                    <li>Flooring Order Request</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end .page title-->
<div class="row">
    <div class="panel panel-card recent-activites">
        <div class="col-sm-8 col-sm-offset-2">
            <h4>Client Information</h4>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-body">
                <div class="">
                    <table id="basic-datatables" class="table table-bordered">
            
                        <tr>
                            <td class="title td-title">Account Name</td>
                            <td class="title">
                                <input type="text" name="inputmob"  class="order-input">
                            </td>
                        </tr>
                        <tr>
                            <td class="title td-title">Summerset Village</td>
                            <td class="title">
                                <input type="text" name="inputmob"  class="order-input">
                            </td>
                        </tr>
                        <tr>
                            <td class="title td-title">Name</td>
                            <td class="title">
                                <input type="text" name="inputmob"  class="order-input">
                            </td>
                        </tr>
                        <tr>
                            <td class="title td-title">Email</td>
                            <td class="title">
                                <input type="text" name="inputmob"  class="order-input">
                            </td>
                        </tr>
                        <tr>
                            <td class="title td-title">Phone</td>
                            <td class="title"> 
                                <div class="col-md-6">
                                    <label for="inputwk">Wk:</label>
                                    <input type="text" name="inputwk" style="border: none;margin: 0;">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputmob">Mob:</label>
                                    <input type="text" name="inputmob"  style="border: none;margin: 0;">
                                </div>                             
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h4>Flooring Contractor Information</h4>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-body">
            <div class="">
                <table id="basic-datatables" class="table table-bordered">
                    <tr>
                        <td class="title td-title">Store</td>
                        <td class="title"><input type="text" name="inputmob"  class="order-input"></td>
                    </tr>
                    <tr>
                        <td class="title td-title">Address</td>
                        <td class="title"><input type="text" name="inputmob"  class="order-input"></td>
                    </tr>
                    <tr>
                        <td class="title td-title">Contact Name</td>
                        <td class="title"><input type="text" name="inputmob"  class="order-input"></td>
                    </tr>
                    <tr>
                        <td class="title td-title">Email</td>
                        <td class="title"><input type="text" name="inputmob"  class="order-input"></td>
                    </tr>
                    <tr>
                        <td class="title td-title">Phone</td>
                        <td class="title"> 
                            <div class="col-md-6">
                                <label for="inputwk">Wk:</label>
                                <input type="text" name="inputwk" style="border: none;margin: 0;">
                            </div>
                            <div class="col-md-6">
                                <label for="inputmob">Mob:</label>
                                <input type="text" name="inputmob"  style="border: none;margin: 0;">
                            </div>                             
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h4>Project Details</h4>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-body">
            <div class="">
                <table id="basic-datatables" class="table table-bordered">
                    <tr>
                        <td class="title td-title">Order Number</td>
                        <td class="title"><input type="text" name="inputmob"  class="order-input"></td>
                    </tr>
                    <tr>
                        <td class="title td-title">Order Date</td>
                        <td class="title"><input type="text" name="inputmob"  class="order-input"></td>
                    </tr>
                    <tr>
                        <td class="title td-title">Prefered Install Date</td>
                        <td class="title"><input type="text" name="inputmob"  class="order-input"></td>
                    </tr>
                    <tr>
                        <td class="title td-title">Quote Required</td>
                        <td class="title"><input type="text" name="inputmob"  class="order-input"></td>
                    </tr>
                    <tr>
                        <td class="title td-title">Unit Type</td>
                        <td class="title"><input type="text" name="inputmob"  class="order-input"></td>
                    </tr>
                    <tr>
                        <td class="title td-title">Plan Type</td>
                        <td class="title"><input type="text" name="inputmob"  class="order-input"></td>
                    </tr>
                    <tr>
                        <td class="title td-title">Unit Number</td>
                        <td class="title"><input type="text" name="inputmob"  class="order-input"></td>
                    </tr>
                    <tr>
                        <td class="title td-title">Colour Scheme</td>
                        <td class="title"><input type="text" name="inputmob"  class="order-input"></td>
                    </tr>
                    <tr>
                        <td class="title td-title">Areas Required</td>
                        <td class="title"  style="width:100%;">
                            <table style="width:100%;">
                                <tr style="width:100%;">
                                    <td class="title" ><input type="checkbox" name="create_store"><label for="">Entire Unit</label></td>
                                    <td class="title" ><input type="checkbox" name="create_store"><label for="">Carpet</label></td>
                                    <td class="title" ><input type="checkbox" name="create_store"><label for="">Kitchen/Entry</label></td>
                                </tr>
                                <tr  style="width:100%;">
                                    <td class="title" ><input type="checkbox" name="create_store"><label for="">Other</label></td>
                                    <td class="title" ><input type="checkbox" name="create_store"><label for="">Bathroom</label></td>
                                    <td class="title" ><input type="checkbox" name="create_store"><label for="">Laundry</label></td>
                                </tr>
                            </table>                            
                        </td>
                    </tr>
                    <tr>
                        <td class="title td-title">Speciail Instructions</td>
                        <td class="title"><input type="text" name="inputmob"  class="order-input"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-body">
            <table  class="tablesaw" data-tablesaw-sortable data-tablesaw-sortable-switch>
        <thead>
            <tr>
              <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">
                Carpet
              </th>
              <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Vinyl/Vinyl Tile</th>
              <th id="custom-sort" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Bathroom Floor</th>
              <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Bathroom Wall</th>
              <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">Laundry</th>
            </tr>
        </thead>
    </table>
        </div>
        <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-delete"></i> Create Order</button>
    </div>
</div>


