<!-- end .page title-->
<div class="row">
  <form class="form-horizontal group-border stripped" name="form" #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="col-md-6 margin-b-30">
      <div class="profile-overview">
        <div class="avtar text-center">
          <img [src]="logoUrl" alt="Preview" class="img-thumbnail img-responsive" style="width:30%; height: 30%;">
          <h3>{{customer.username}}</h3>
          <hr>
        </div>
        <div class="form-group">
          <label class="col-lg-2 col-md-3 control-label">Logo</label>
          <div class="col-lg-3 col-md-3">
            <input type="file" (change)="readUrl($event)" placeholder="Upload logo..." />
          </div>
        </div>
        <div class="profile-edit">
          <h4 class="mb-xlg">Personal Information</h4>
          <fieldset>
            <div class="form-group">
              <label class="col-md-3 control-label" for="profileName">Name</label>
              <div class="col-md-8">
                <input type="text" name="username" id="profileName" placeholder="Enter Your UserName" minlength="4" maxlength="24" class="form-control"
                  [(ngModel)]="customer.username" #username="ngModel" required>
              </div>
              <div *ngIf="userForm.submitted && !username.valid" class="help-block">Name is required</div>
              <div *ngIf="username.errors && (username.dirty || username.touched) && !username.valid" class="col-lg-5 col-md-5 col-lg-offset-2 col-md-offset-3 alert alert-danger">
                <div [hidden]="!username.errors.required">
                  Name is required
                </div>
                <div [hidden]="!username.errors.minlength">
                  Name must be at least 4 characters long.
                </div>
                <div [hidden]="!username.errors.maxlength">
                  Name cannot be more than 24 characters long.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="profileCompany">Company</label>
              <div class="col-md-5">
                <select class="fancy-select form-control" id="profileCompany" name="company" [(ngModel)]="customer.company" #company="ngModel">
                      
                     <option *ngFor="let c of currentCompanies" [value]="c.name">{{c.name}}</option>
                     </select>
              </div>
              <div class="col-md-4" *ngIf="user.accounttype==='super'">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#companyModal"> Add A Company</button>
              </div>
              <div class="col-md-4" *ngIf="user.accounttype==='staff' || user.accounttype==='customer'">
                <ng-container *ngIf="user.role">
                  <button type="button" *ngIf="user.role.company.create" class="btn btn-info" data-toggle="modal" data-target="#companyModal"> Add A Company</button>
                </ng-container>
                <ng-container *ngIf="user.special_permissions">
                  <button type="button" *ngIf="user.special_permissions.company.create" class="btn btn-info" data-toggle="modal" data-target="#companyModal"> Add A Company</button>
                </ng-container>
              </div>
              <div class="modal fade" id="companyModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header text-center">
                      <h4 class="modal-title">Add A New Company</h4>
                      <small>Please enter the content of your company.</small>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label class="col-lg-2 col-md-3 control-label">Company</label>
                        <div class="col-lg-5 col-md-5">
                          <input type="text" name="companyname" placeholder="Enter Company Name" minlength="3" maxlength="24" class="form-control"
                            [(ngModel)]="newCompany.name" #companyname="ngModel">
                        </div>
                        <div *ngIf="companyname.errors && (companyname.dirty || companyname.touched) && !companyname.valid" class="col-lg-5 col-md-5 col-lg-offset-2 col-md-offset-3 alert alert-danger">
                          <div [hidden]="!companyname.errors.required">
                            Name is required
                          </div>
                          <div [hidden]="!companyname.errors.minlength">
                            Name must be at least 4 characters long.
                          </div>
                          <div [hidden]="!companyname.errors.maxlength">
                            Name cannot be more than 24 characters long.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-accent" data-dismiss="modal" (click)="createCompany()">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="userForm.submitted && !company.valid" class="help-block">Company is required</div>
              <div *ngIf="company.errors && company.touched" class=" col-lg-5 col-md-5  col-lg-offset-2 col-md-offset-3 alert alert-danger">
                <div [hidden]="!company.errors.required">Company is required</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="profileEmail">Email</label>
              <div class="col-md-8">
                <input type="text" id="profileEmail" name="email" placeholder="Enter email" class="form-control" [(ngModel)]="user_info.email"
                  #email="ngModel" [email]="true" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
              </div>
              <div *ngIf="userForm.submitted && !email.valid" class="help-block">Email is required</div>
              <div *ngIf="email.errors && email.touched" class=" col-lg-5 col-md-5 col-lg-offset-2 col-md-offset-3 alert alert-danger">
                <div [hidden]="!email.errors.required">Email is required</div>
              </div>
              <div *ngIf="email.errors && email.errors.pattern">
                Email is invalid
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="profilePhone">Phone</label>
              <div class="col-md-8">
                <input type="text" id="profilePhone" name="phone" placeholder="Phone number" class="form-control" [(ngModel)]="user_info.phone"
                  #phone="ngModel" required>
              </div>
              <div *ngIf="userForm.submitted && !phone.valid" class="help-block">Phone Number is required</div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="profileMobile">Mobile</label>
              <div class="col-md-8">
                <input type="text" id="profileMobile" name="mobile" placeholder="Mobile number" class="form-control" [(ngModel)]="user_info.mobile"
                  #mobile="ngModel" required>
              </div>
              <div *ngIf="userForm.submitted && !mobile.valid" class="help-block">Mobile is required</div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="profilePosition">Position</label>
              <div class="col-md-8">
                <input type="text" id="profilePosition" placeholder="Enter Position" class="form-control" name="position" [(ngModel)]="customer_info.position"
                  #position="ngModel" required>
              </div>
              <div *ngIf="userForm.submitted && !position.valid" class="help-block">Position is required</div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="profilePreferContactMethod">Prefered Contact Method</label>
              <div class="col-md-8">
                <select class="fancy-select form-control" id="profilePreferContactMethod" name="prefered_contact" [(ngModel)]="customer_info.prefered_contact"
                  required #prefered_contact="ngModel">
                     <option value="phone">Phone</option>
                     <option value="mobile">Mobile</option>
                     <option value="email">Email</option>
                     </select>
              </div>
              <div *ngIf="userForm.submitted && !prefered_contact.valid" class="help-block">Prefered Contact Method is required</div>
            </div>
            <div class="avtar text-center">
              <img [src]="photoUrl" alt="Preview" class="img-thumbnail img-responsive" style="width:30%; height: 30%;">
              <hr>
            </div>
            <div class="form-group">
              <label class="col-lg-2 col-md-3 control-label">Photo</label>
              <div class="col-lg-3 col-md-3">
                <input type="file" (change)="readPhoto($event)" placeholder="Upload logo..." />
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="col-md-6 margin-b-30">
      <div class="profile-edit">
        <h4 class="mb-xlg">Address Information</h4>
        <fieldset>
          <div class="form-group">
            <label class="col-md-3 control-label" for="profileAddress1">Address</label>
            <div class="col-md-8">
              <input type="text" placeholder="" id="profileAddress1" class="form-control" name="address1" [(ngModel)]="customer_info.address.address1"
                #address1="ngModel" required>
            </div>
            <div *ngIf="userForm.submitted && !address1.valid" class="help-block">Address is required</div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="profileAddress2"></label>
            <div class="col-md-8">
              <input type="text" id="profileAddress2" placeholder="" class="form-control" name="address2" [(ngModel)]="customer_info.address.address2"
                #address2="ngModel" required>
            </div>
          </div>
          <div class="form-group">
            <label class=" col-md-3 control-label">Region</label>
            <div class="col-md-8">
              <select class="fancy-select form-control" name="region" [(ngModel)]="customer_info.region" (change)="selectRegion($event)"
                #region="ngModel" required>
                  <option *ngFor = "let reg of regions" [value]="reg">{{ reg }}</option>
                  </select>
            </div>
            <div *ngIf="userForm.submitted && !region.valid" class="help-block">Region is required</div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">City</label>
            <div class="col-md-8">
              <select class="fancy-select form-control" name="city" [(ngModel)]="customer_info.city" name="city" #city="ngModel" required>
                  <option *ngFor = "let city of cities" [value]="city">{{city}}</option>   
                  </select>
            </div>
            <div *ngIf="userForm.submitted && !city.valid" class="help-block">City is required</div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Post Code</label>
            <div class="col-md-8">
              <input type="text" placeholder="" name="post_code" class="form-control" [(ngModel)]="customer_info.postcode" #post_code="ngModel"
                required>
            </div>
            <div *ngIf="userForm.submitted && !post_code.valid" class="help-block">Post Code is required</div>
          </div>
        </fieldset>
        <hr class="dotted tall">
        <h4 class="mb-xlg">Permission & Access</h4>
        <fieldset>
          <div class="form-group">
            <label class="col-md-3 control-label" for="profileRole">Role</label>
            <div class="col-md-3" *ngIf="modalValid">
              <select class="fancy-select form-control" id="profileRole" name="role" [(ngModel)]="customer.role_name" #role="ngModel">
                  <option *ngFor="let r of roles" [value]="r.role_name">{{r.role_name}}</option>
                  </select>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#roleModal"> Manage This User's Permission</button>
            </div>
            <div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h4 class="modal-title">Manage This User's Permission</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="col-md-12 col-sm-12s">
                          <div class="table-responsive">
                            <table class="tablesaw" data-tablesaw-sortable data-tablesaw-sortable-switch>
                              <thead>
                                <tr>
                                  <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">
                                    Permitted Action
                                  </th>
                                  <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">Create</th>
                                  <th id="custom-sort" scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Edit</th>
                                  <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Delete</th>
                                  <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="5">View Only</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="title">
                                    Manage Staff Users
                                  </td>
                                  <td class="title"><input type="checkbox" name="create_staff" [checked]="staffPermission.create" (change)="staffPermission.create = !staffPermission.create"
                                    /></td>
                                  <td class="title"><input type="checkbox" name="edit_staff" [checked]="staffPermission.edit" (change)="staffPermission.edit = !staffPermission.edit"></td>
                                  <td class="title"><input type="checkbox" name="delete_staff" [checked]="staffPermission.delete" (change)="staffPermission.delete = !staffPermission.delete"></td>
                                  <td class="title"><input type="checkbox" name="view_staff" [checked]="staffPermission.view" (change)="staffPermission.view = !staffPermission.view"></td>
                                </tr>
                                <tr>
                                  <td class="title">
                                    Manage Customer Users
                                  </td>
                                  <td class="title"><input type="checkbox" name="create_customer" [checked]="customerPermission.create" (change)="customerPermission.create = !customerPermission.create"></td>
                                  <td class="title"><input type="checkbox" name="edit_customer" [checked]="customerPermission.edit" (change)="customerPermission.edit = !customerPermission.edit"></td>
                                  <td class="title"><input type="checkbox" name="delete_customer" [checked]="customerPermission.delete" (change)="customerPermission.delete = !customerPermission.delete"></td>
                                  <td class="title"><input type="checkbox" name="view_customer" [checked]="customerPermission.view" (change)="customerPermission.view = !customerPermission.view"></td>
                                </tr>
                                <tr>
                                  <td class="title">
                                    Manage Stores
                                  </td>
                                  <td class="title"><input type="checkbox" name="create_store" [checked]="storePermission.create" (change)="storePermission.create = !storePermission.create"></td>
                                  <td class="title"><input type="checkbox" name="edit_store" [checked]="storePermission.edit" (change)="storePermission.edit = !storePermission.edit"></td>
                                  <td class="title"><input type="checkbox" name="delete_store" [checked]="storePermission.delete" (change)="storePermission.delete = !storePermission.delete"></td>
                                  <td class="title"><input type="checkbox" name="view_store" [checked]="storePermission.view" (change)="storePermission.view = !storePermission.view"></td>
                                </tr>
                                <tr>
                                  <td class="title">
                                    Manage Orders
                                  </td>
                                  <td class="title"><input type="checkbox" name="create_order" [checked]="orderPermission.create" (change)="orderPermission.create  = !orderPermission.create"></td>
                                  <td class="title"><input type="checkbox" name="edit_order" [checked]="orderPermission.edit" (change)="orderPermission.edit = !orderPermission.edit"></td>
                                  <td class="title"><input type="checkbox" name="delete_order" [checked]="orderPermission.delete" (change)="orderPermission.delete = !orderPermission.delete"></td>
                                  <td class="title"><input type="checkbox" name="view_order" [checked]="orderPermission.view" (change)="orderPermission.view = !orderPermission.view"></td>
                                </tr>
                                <tr>
                                  <td class="title">
                                    Manage User Roles
                                  </td>
                                  <td class="title"><input type="checkbox" name="create_role" [checked]="rolePermission.create" (change)="rolePermission.create = !rolePermission.create"></td>
                                  <td class="title"><input type="checkbox" name="edit_role" [checked]="rolePermission.edit" (change)="rolePermission.edit = !rolePermission.edit"></td>
                                  <td class="title"><input type="checkbox" name="delete_role" [checked]="rolePermission.delete" (change)="rolePermission.delete = !rolePermission.delete"></td>
                                  <td class="title"><input type="checkbox" name="view_role" [checked]="rolePermission.view" (change)="rolePermission.view = !rolePermission.view"></td>
                                </tr>
                                <tr>
                                  <td class="title">
                                    Manage Companies
                                  </td>
                                  <td class="title"><input type="checkbox" name="create_company" [checked]="companyPermission.create" (change)="companyPermission.create = !companyPermission.create"></td>
                                  <td class="title"><input type="checkbox" name="edit_company" [checked]="companyPermission.edit" (change)="companyPermission.edit = !companyPermission.edit"></td>
                                  <td class="title"><input type="checkbox" name="delete_company" [checked]="companyPermission.delete" (change)="companyPermission.delete = !companyPermission.delete"></td>
                                  <td class="title"><input type="checkbox" name="view_company" [checked]="companyPermission.view" (change)="companyPermission.view = !companyPermission.view"></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <br>
                      <div class="col-sm-6">
                        <label for="" class="col-md-5 control-label">Home Screen</label>
                        <div class="col-md-7">
                          <select class="form-control m-b" name="home_url" [(ngModel)]="home_url">
                                              <option value=""></option>
                                              <option value="dashboard">Dashboard</option>
                                              <option value="users">Users</option>
                                              <option value="roles">User Roles</option>
                                              <option value="stores">Stores</option>
                                              <option value="orders">Orders</option>
                                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <input type="checkbox" name="display_dashboard" [checked]="display_dashboard" (change)="display_dashboard = !display_dashboard">
                        <label for="">Display Dashboard</label>
                      </div>
                    </div>
                    <br>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-accent" data-dismiss="modal" (click)="savePermissions()">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="profileParent">Parent</label>
            <div class="col-md-8">
              <select class="fancy-select form-control" id="profileParent" name="parent" [(ngModel)]="customer.parent" #parent="ngModel">
                  <option value=""></option>
                  <option *ngFor = "let p of users" [value]="p">{{ p }}</option>
                  </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="profilePassword">Password</label>
            <div class="col-md-8">
              <input type="password" id="profilePassword" placeholder="" class="form-control" name="password" [(ngModel)]="customer.password"
                #password="ngModel" required>
            </div>
            <div *ngIf="userForm.submitted && !password.valid" class="help-block">Pasword is required</div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="profileRepeatPassword">Confirm Password</label>
            <div class="col-md-8">
              <input type="password" id="profileRepeatPassword" placeholder="" class="form-control" name="confirmpassword" [(ngModel)]="customer.confirm_password"
                #confirmpassword="ngModel" required>
            </div>
            <div *ngIf="(customer.password !== customer.confirm_password) && (confirmpassword.dirty|| confirmpassword.touched )" class=" col-lg-5 col-md-5  col-lg-offset-2 col-md-offset-3 alert alert-danger">
              <div>The passwords entered do not match</div>
            </div>
          </div>
        </fieldset>
        <h4 class="mb-xlg">Additional Information</h4>
        <fieldset class="mb-xl">
          <div class="form-group">
            <label class="col-md-3 control-label" for="profileCustomerType">Customer Type</label>
            <div class="col-md-8">
              <input type="text" id="profileCustomerType" placeholder="Input Customer Type" class="form-control" [(ngModel)]="customer_info.customer_type"
                name="customer_type" #customer_type="ngModel" required>
            </div>
            <div *ngIf="userForm.submitted && !customer_type.valid" class="help-block">Customer Type is required</div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="profileAccountEmail">Accounts Email</label>
            <div class="col-md-8">
              <input type="email" id="profileAccountEmail" placeholder="Enter Account Email" class="form-control" [(ngModel)]="customer.account_email"
                name="account_email" [email]="true" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #account_email="ngModel"
                required>
            </div>
            <div *ngIf="userForm.submitted && !account_email.valid" class="help-block">Account Email is required</div>
            <div *ngIf="account_email.errors && account_email.errors.pattern">
              Email is invalid
            </div>
          </div>
        </fieldset>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-9 col-md-offset-3">
              <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Submit</button>
              <button type="reset" class="btn btn-default">Reset</button>
              <button class="btn btn-info btn-primary" (click)="cancel()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
